/* line 2, source/_sass/offer.scss */
#offer .offer-wrap {
  width: 100%;
  height: auto; }

/* line 7, source/_sass/offer.scss */
#offer .reservation-cast {
  width: 100%;
  height: auto; }
  /* line 10, source/_sass/offer.scss */
#offer .reservation-cast__header {
    width: 100%;
    height: auto; }
  /* line 14, source/_sass/offer.scss */
#offer .reservation-cast__title {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 18px;
    line-height: 1;
    color: #fff;
    border: none;
    width: 100%;
    font-weight: bold;
    height: 60px;
    color: #fff;
    font-family: 'Noto Sans Japanese';
    background: -webkit-linear-gradient(20deg, #00c3c3 0, #42e4b2 100%);
    background: -o-linear-gradient(20deg, #00c3c3 0, #42e4b2 100%);
    background: -ms-linear-gradient(20deg, #00c3c3 0, #42e4b2 100%);
    background: -webkit-linear-gradient(70deg, #00c3c3 0, #42e4b2 100%);
    background: -o-linear-gradient(70deg, #00c3c3 0, #42e4b2 100%);
    background: linear-gradient(20deg, #00c3c3 0, #42e4b2 100%); }
  /* line 42, source/_sass/offer.scss */
#offer .reservation-cast__content {
    width: 100%;
    height: auto;
    padding: 0 15px;
    box-sizing: border-box; }
  /* line 49, source/_sass/offer.scss */
#offer .reservation-cast__info {
    width: 74%;
    min-width: 280px;
    margin: 15px auto; }
  /* line 55, source/_sass/offer.scss */
#offer .reservation-cast__photo {
    width: 100%;
    height: auto; }
  /* line 59, source/_sass/offer.scss */
#offer .reservation-cast__name {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    margin-top: 15px;
    font-family: 'Noto Sans Japanese'; }
    /* line 68, source/_sass/offer.scss */
#offer .reservation-cast__name p {
      width: auto;
      height: auto;
      font-size: 18px;
      color: #222;
      line-height: 1;
      font-weight: bold; }
      /* line 75, source/_sass/offer.scss */
#offer .reservation-cast__name p:first-child {
        margin-right: 5px; }
  /* line 81, source/_sass/offer.scss */
#offer  .reservation-cast__level {
    width: 100%;
    height: auto;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px; }
  /* line 91, source/_sass/offer.scss */
#offer  .reservation-cast__daiamond {
    width: auto;
    height: auto;
    width: 80px;
    height: 24px;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    color: #fff;
    border-radius: 30px;
    font-family: 'Noto Sans Japanese'; }
  /* line 107, source/_sass/offer.scss */
#offer  .reservation-cast__pric {
    width: auto;
    height: auto;
    font-size: 11px;
    line-height: 1;
    color: #222;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    font-family: 'Noto Sans Japanese'; }
    /* line 118, source/_sass/offer.scss */
#offer  .reservation-cast__pric span {
      font-size: 19px;
      margin-left: 10px; }

/* line 126, source/_sass/offer.scss */
#offer  .reservation-info {
  width: 100%;
  height: auto;
  padding: 15px 20px;
  border: 1px #00c3c3 solid;
  border-radius: 20px;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  /* line 138, source/_sass/offer.scss */
#offer  .reservation-info__date {
    width: auto;
    height: auto; }
  /* line 142, source/_sass/offer.scss */
#offer  .reservation-info__day {
    width: auto;
    height: auto;
    margin-bottom: 10px;
    font-family: 'Noto Sans Japanese';
    font-size: 15px;
    line-height: 1;
    color: #222; }
  /* line 151, source/_sass/offer.scss */
#offer  .reservation-info__time {
    width: auto;
    height: auto;
    font-family: 'Noto Sans Japanese';
    font-size: 22px;
    line-height: 1;
    color: #222;
    font-weight: bold; }
    /* line 159, source/_sass/offer.scss */
#offer  .reservation-info__time span {
      margin-left: 10px;
      font-size: 14px;
      font-weight: normal; }
  /* line 166, source/_sass/offer.scss */
#offer  .reservation-info__place {
    width: auto;
    height: auto;
    font-family: 'Noto Sans Japanese';
    font-size: 22px;
    font-weight: bold; }

/* line 175, source/_sass/offer.scss */
#offer  .reservation-settlement {
  width: 100%;
  height: auto;
  padding: 0 10px;
  box-sizing: border-box;
  margin-top: 30px; }

/* line 183, source/_sass/offer.scss */
#offer  .portlet {
  width: 100%;
  height: auto;
  margin-bottom: 20px; }
  /* line 187, source/_sass/offer.scss */
#offer  .portlet-header {
    width: 100%;
    height: auto;
    margin-bottom: 5px; }
    /* line 191, source/_sass/offer.scss */
#offer  .portlet-header__title {
      width: 100%;
      height: 30px;
      background-color: #f3f2f2;
      font-size: 12px;
      line-height: 1;
      letter-spacing: 2px;
      color: #505050;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 0 12px;
      box-sizing: border-box; }
  /* line 207, source/_sass/offer.scss */
#offer  .portlet-content {
    width: 100%;
    height: auto; }

/* line 214, source/_sass/offer.scss */
#offer  .offer-coupon {
  width: 100%;
  height: auto;
  margin-top: 20px; }
  /* line 218, source/_sass/offer.scss */
#offer  .offer-coupon__header {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
    padding: 0 10px;
    box-sizing: border-box;
    padding-bottom: 5px;
    border-bottom: 1px #d8d8d8 solid; }
  /* line 227, source/_sass/offer.scss */
#offer  .offer-coupon__content {
    width: 100%;
    height: auto; }
  /* line 231, source/_sass/offer.scss */
#offer  .offer-coupon__text {
    width: 100%;
    height: auto;
    font-family: 'Noto Sans Japanese';
    font-size: 11px;
    color: #505050;
    box-sizing: border-box; }
  /* line 242, source/_sass/offer.scss */
#offer  .offer-coupon .selectbox select {
    width: 100%;
    display: inline-block;
    border: none;
    outline: 0;
    box-sizing: border-box;
    color: #00c3c3;
    box-sizing: border-box;
    border: none;
    font-size: 15px;
    line-height: 1;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    font-weight: 400;
    cursor: pointer;
    background-color: inherit;
    border: none;
    color: #222;
    padding-right: 15px;
    box-sizing: border-box;
    position: relative; }
  /* line 266, source/_sass/offer.scss */
#offer  .offer-coupon .selectbox i {
    position: relative; }
    /* line 268, source/_sass/offer.scss */
 #offer  .offer-coupon .selectbox i:after {
      pointer-events: none;
      position: absolute;
      content: "";
      display: block;
      margin-right: 2px;
      margin-top: -1px;
      width: 0;
      height: 0;
      top: 50%;
      right: 0;
      width: 8px;
      height: 8px;
      border-top: 1px solid #222;
      border-right: 1px solid #222;
      box-sizing: border-box;
      -webkit-transform: translateY(-50%) translateX(0) rotate(135deg);
      transform: translateY(-50%) translateX(0) rotate(135deg); }

/* line 291, source/_sass/offer.scss */
#offer  .grade-list {
  width: 100%;
  height: auto;
  padding: 10px 15px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px #d8d8d8 solid; }
  /* line 300, source/_sass/offer.scss */
#offer  .grade-list label {
    width: auto;
    height: auto;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    /* line 308, source/_sass/offer.scss */
#offer  .grade-list label:last-child {
      margin-left: 50px; }
  /* line 312, source/_sass/offer.scss */
#offer  .grade-list .grade-radio {
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    background-color: #fff;
    display: block !important;
    vertical-align: middle;
    outline: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1.5px solid #e7e7e7;
    margin: 0 auto;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    padding: 0;
    background-color: inherit;
    overflow: hidden; }
    /* line 332, source/_sass/offer.scss */
#offer .grade-list .grade-radio:checked {
      border: 7px #30ccc3 solid; }
  /* line 336, source/_sass/offer.scss */
#offer  .grade-list span {
    font-family: 'Noto Sans Japanese';
    font-size: 15px;
    margin-left: 5px; }

#offer .reservation-total {
  width: 100%;
  height: auto;
  padding: 25px 35px;
  border: 1px #00c3c3 solid;
  border-radius: 20px;
  box-sizing: border-box; }
  /* line 350, source/_sass/offer.scss */
#offer  .reservation-total__content {
    width: 100%;
    height: auto; }
  /* line 354, source/_sass/offer.scss */
#offer  .reservation-total__item {
    width: 100%;
    height: auto;
    font-family: 'Noto Sans Japanese';
    font-size: 14px;
    color: #505050;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1; }
    /* line 366, source/_sass/offer.scss */
#offer .reservation-total__item + .reservation-total__item {
      margin-top: 10px; }
    /* line 369, source/_sass/offer.scss */
#offer    .reservation-total__item .red {
      color: #d0021b; }
  /* line 373, source/_sass/offer.scss */
#offer  .reservation-total__sum {
    width: 100%;
    height: auto;
    width: 100%;
    height: auto;
    font-size: 17px;
    color: #00c3c3;
    line-height: 1;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px #d8d8d8 solid; }
    /* line 388, source/_sass/offer.scss */
#offer    .reservation-total__sum span {
      color: #222; }

/* line 395, source/_sass/offer.scss */

/* line 399, source/_sass/offer.scss */
#offer .reservation-button {
  width: 100%;
  max-width: 310px;
  height: auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto; }
  /* line 409, source/_sass/offer.scss */
#offer  .reservation-button button {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 13px;
    color: #fff;
    line-height: 1;
    letter-spacing: -1px;
    outline: none; }
    /* line 422, source/_sass/offer.scss */
#offer    .reservation-button button:first-child {
      width: 110px;
      height: 36px;
      border-radius: 36px;
      background: #c4c4c4; }
    /* line 428, source/_sass/offer.scss */
#offer    .reservation-button button:last-child {
      width: 185px;
      height: 36px;
      border-radius: 36px;
      background: -webkit-linear-gradient(20deg, #00c3c3 0, #42e4b2 100%);
      background: -o-linear-gradient(20deg, #00c3c3 0, #42e4b2 100%);
      background: -ms-linear-gradient(20deg, #00c3c3 0, #42e4b2 100%);
      background: linear-gradient(20deg, #00c3c3 0, #42e4b2 100%); }