// compileExpanded: ../css/$1.css
@charset "UTF-8";

/*
* Noto Sans Japanese (japanese) http://www.google.com/fonts/earlyaccess
 */

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff2) format('woff2'),
      url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff) format('woff'),
      url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Medium.woff2) format('woff2'),
      url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Medium.woff) format('woff'),
      url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Medium.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff2) format('woff2'),
      url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff) format('woff'),
      url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.otf) format('opentype');
}


// Tool  ============================
@import "./plugin/mmenu/_jquery.mmenu.all";
@import "./plugin/mmenu/_jquery.mhead";
@import "./plugin/mmenu/_custom";

// core  ============================
@import "./core/_reset";
@import "./core/_core";

// layout  ============================
@import "./layout/_ge2-1-a";
@import "./layout/_ge2-1-b";
@import "./layout/_gf2";
@import "./layout/_gg1-1";
@import "./layout/_gg1";
@import "./layout/_gg2";
@import "./layout/_gl2-1";
@import "./layout/_gl-3.scss";
@import "./layout/_gl4";
@import "./layout/_gm1.scss";
@import "./layout/_gm1_edit";
@import "./layout/_gn1.scss";
@import "./layout/_gn1-drwer";
@import "./layout/_go1";
@import "./layout/_ge2-1-a-3";
@import "./layout/_login";
@import "./layout/_ge3.scss";
