@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  word-break: break-all;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-appearance: none;
  letter-spacing: 0.05em; }

a:link {
  color: #232323;
  text-decoration: none;
  outline: none; }

a:visited {
  color: #232323;
  text-decoration: none;
  outline: none; }

a:hover {
  color: #999999;
  text-decoration: none;
  outline: none; }

html, body {
  height: 100%;
}
body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  color: #111; }

body, html {
  background: white;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1px;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@font-face {
  font-family: "Original Yu Gothic";
  src: local("Yu Gothic");
  font-weight: 300; }

@font-face {
  font-family: "Original Yu Gothic";
  src: local("Yu Gothic");
  font-weight: 500; }

@font-face {
  font-family: "Original Yu Gothic";
  src: local("Yu Gothic");
  font-weight: bold; }

@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 100; }

@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 200; }

html {
  font-family: -apple-system, BlinkMacSystemFont, "Noto Sans Japanese", "Helvetica Neue", "Segoe UI", "Original Yu Gothic", "Yu Gothic", YuGothic, Verdana, "ヒラギノ角ゴ ProN W3", Meiryo, "M+ 1p", sans-serif; }

/* IE10以上 */
@media all and (-ms-high-contrast: none) {
  html {
    font-family: Verdana, Meiryo, sans-serif; } }

@media all and (-ms-high-contrast: active) {
  html {
    font-family: Verdana, Meiryo, sans-serif; } }

#qa {
  position: relative;
  height: auto !important;
  height: 100%;
  min-height: 100%;
}
#qa main,
#qaList main {
  padding-bottom: 273px;
}
.path {
  display: block;
  margin: 10px 16px;
}
.path li{
  display: inline-block;
  padding: 0 10px;
}
.path li a {
  position: relative;
  display: block;
  font-size: .7em;
  color: #888;
  cursor: pointer;
}
.path li a:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: -15px;
  width: 4.5px;
  height: 10px;
  background: url(../images/qanda/arrow.svg) no-repeat center;
  margin: auto;
}
.path li:first-child {
  padding-left: 0;
}
.path li span {
  display: block;
  font-size: .7em;
  color: #888;
}

@media (min-width: 769px) {
  .path {
    margin: 2em;
  }
}
.qa-inner {
  margin: 0 18px; }

.qa-wrap {
  overflow: hidden; }
  .qa-wrap .qa-ttl {
    background-image: -moz-linear-gradient(0deg, #3be1b4 0%, #07c6c1 100%);
    background-image: -webkit-linear-gradient(0deg, #3be1b4 0%, #07c6c1 100%);
    background-image: -ms-linear-gradient(0deg, #3be1b4 0%, #07c6c1 100%);
    min-height: 84px;
    border-bottom-right-radius: 2000px 740px;
    border-bottom-left-radius: 2000px 740px;
    margin-left: -80px;
    margin-right: -80px;
    padding-left: 80px;
    padding-right: 80px; }
    .qa-wrap .qa-ttl h1 {
      color: white;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      padding: 1em 0 1.5em; }
    .qa-wrap .qa-ttl .qa-ttl-logo {
      margin: 0 auto;
      padding-top: 1.25em;
      width: 4.5em;
      height: 24px; }
      .qa-wrap .qa-ttl .qa-ttl-logo img {
        display: block;
        width: 100%;
        height: auto;
        -o-object-fit: contain;
        object-fit: contain; }

.qa-box {
  width: 100%;
  margin: 0.625em auto 2.5em; }

.qa-list .qa-list-box, .qa-list .qa-list-des ul li {
  border-bottom: 1px solid #DFDFDF; }

.qa-list .qa-list-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .qa-list .qa-list-box h2 {
    font-weight: 600; }

.qa-list .qa-list-ttl, .qa-list .qa-list-des ul li {
  padding: 1.125em 0 1.125em 0.5em; }

.qa-list .qa-list-ttl h2 {
  color: #24c2c8;
  font-weight: 600;
  margin-right: 1.25em; }

.qa-list .qa-list-des ul {
  color: #111; }
  .qa-list .qa-list-des ul li a {
    text-decoration: none;
    color: #111; }

#qaList {
  position: relative;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  /*＋、－切り替え*/ }
  #qaList .qa-list-des {
    display: none; }
    #qaList .qa-list-des ul {
      padding: 0 0 1.5em 0; }
      #qaList .qa-list-des ul li {
        font-size: 0.875em;
        position: relative;
        padding-right: 1.25em; }
        #qaList .qa-list-des ul li:after {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0px;
          width: 9px;
          height: 20px;
          background: url(../images/qanda/arrow.svg) no-repeat center;
          margin: auto; }
        #qaList .qa-list-des ul li a {
          width: 100%;
          display: block; }
  #qaList .accordion_icon,
  #qaList .accordion_icon span,
  #qaList .arrow_icon,
  #qaList .arrow_icon span {
    display: inline-block;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  #qaList .accordion_icon {
    position: absolute;
    display: block;
    top: 50%;
    bottom: 50%;
    right: 1.5px;
    -ms-flex-preferred-size: 40px;
    flex-basis: 40px;
    margin: auto;
    width: 40px;
    height: 40px;
    margin-left: 5px; }
  #qaList .accordion_icon span,
  #qaList .arrow_icon span {
    position: absolute;
    right: 0;
    width: 15px;
    height: 2px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px; }
  #qaList .accordion_icon span {
    background-color: #111; }
    #qaList .accordion_icon span:nth-of-type(1) {
      top: 50%;
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg); }
    #qaList .accordion_icon span:nth-of-type(2) {
      top: 50%;
      transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg); }
  #qaList .accordion_icon.active span:nth-of-type(1) {
    display: none; }
  #qaList .accordion_icon.active span:nth-of-type(2) {
    top: 50%;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg); }

#qa .qa-list-box, #qa .qa-list-des {
  padding: 20px 0; }

#qa .qa-list-box {
  display: inherit; }
  #qa .qa-list-box h2 {
    margin-left: 44px; }
  #qa .qa-list-box:before {
    content: "";
    display: block;
    float: left;
    margin-right: 12px;
    width: 32px;
    height: 32px;
    background: url(../images/qanda/q.svg) no-repeat center center;
    background-size: contain;
    vertical-align: middle; }

#qa .qa-list-des {
  font-size: 14px;
  line-height: 1.8; }
  #qa .qa-list-des:before {
    content: "";
    display: block;
    float: left;
    margin-right: 12px;
    width: 32px;
    height: 32px;
    background: url(../images/qanda/a.svg) no-repeat center center;
    background-size: contain; }
  #qa .qa-list-des p {
    font-weight: normal;
    margin-left: 44px; }

#qa .qa-back {
  font-size: 14px;
  text-align: right; }
  #qa .qa-back:after {
    color: #551a8b;
    content: ">"; }
  #qa .qa-back a {
    color: #551a8b; }

@media screen and (min-width: 769px) {
  .qa-inner {
    max-width: 1024px;
    margin: 0 auto; }
  .qa-wrap {
    overflow: hidden; }
    .qa-wrap .qa-ttl {
      border-bottom-right-radius: 2000px 740px;
      border-bottom-left-radius: 2000px 740px;
      margin-left: -110px;
      margin-right: -110px;
      padding-left: 110px;
      padding-right: 110px;
      min-height: 114px; }
      .qa-wrap .qa-ttl h1 {
        font-size: 22px;
        padding: 1.5em 0 1.7em; }
      .qa-wrap .qa-ttl .qa-ttl-logo {
        width: 92px;
        height: 30px;
        padding-top: 1.875em; }
  .qa-list .qa-list-ttl h2 {
    color: #24c2c8;
    font-size: 18px;
    font-weight: 600;
    margin-right: 2.5em; }
  .qa-box {
    margin: 3.125em auto 2.5em; }
  #qaList .qa-list-des ul {
    padding: 0.5em 0 2.5em 2.5em; }
    #qaList .qa-list-des ul li {
      font-size: 1em;
      padding-right: 2.5em; } }

/*.g_footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #23bbc1;
  background: #24c2c8; }
.g_footer .inner {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 3em 0 2em; }
@media (max-width: 768px) {
  .g_footer .inner {
  display: block;
  max-width: 480px;
  padding: 1.6em 0 .6em; } }
.g_footer .inner .f_logo img {
  display: inline;
  max-width: 130px; }
@media (max-width: 768px) {
  .g_footer .inner .f_logo img {
    display: inline;
    max-width: 100px; } }
.g_footer .inner .menu_items {
  padding-top: 1.8em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
@media (max-width: 768px) {
  .g_footer .inner .menu_items {
  padding-top: 1.2em;
  display: block; } }
@media (max-width: 768px) {
  .g_footer .inner .menu_items li {
    margin: 5px 0;
  }
}
.g_footer .inner .menu_items li a {
  display: block;
  color: #fff;
  font-size: .95em;
  font-weight: 700;
  padding: .6em 1.2em;}
.g_footer .inner .menu_items li a span {
  font-size: .8em;
}
@media (max-width: 768px) {
  .g_footer .inner .menu_items li a {
    padding: .1em 1em;
    font-size: .9em; } }
  .g_footer .inner .menu_items li a:hover {
    opacity: .7; }
.g_footer .copy {
  padding-bottom: 2em;
  text-align: center;
  font-size: .8em;
  font-weight: 400;
  color: #fff; }
@media (max-width: 768px) {
  .g_footer .copy {
  font-size: .7em;
  padding-bottom: 1em; } }
*/