
.ge3{
	.details-header__title{
		text-align:left!important;
	}
	.details-info-list_kibun{
		border:1px solid #E7E7E7;
		border-radius:20px;
		margin-bottom:6px;
		padding:8px 20px;
		display:inline-block;
	}
	.details-header__list{
		width:auto!important;
		margin: 0 auto 0 18px!important;
	}
	.btn2-s{
		margin:auto 0 auto auto;
		flex-basis: 88px;
		a {
			margin-bottom:2px;
		    padding: 0.83em 23px;
		}
	}
	.details-list-box{
		display:flex;
		justify-content:space-between;
	}
	.details-list .details-info-list{
		width:72%!important;
	    -webkit-margin-before: 0em;
	    -webkit-margin-after: 0em;
	    -webkit-margin-start: 0px;
	    -webkit-padding-start: 0px;		
	}
	.details-shimei .details-list-box{
		justify-content:flex-start;
		align-items:center;
		&>p{
			font-size:15px;
			font-weight:bold;
			margin-right:12px;
			&:after{
				content:"名";
			}
		}
	}
	@media screen and (max-width:350px){
		.details-list-box__pic{
			width:72%;
		}
	}
	.details-list-box__pic{
		display:flex;
		flex-wrap:wrap;
		li{
			width:40px;
			height:40px;
			margin-right:2px;
			img{
				width:100%;
				height:100%!important;
				border-radius:10px;
				object-fit:cover;
			}
		}
	}
	.details-total__content{
		padding:0!important;
	}
	.form_footer{
		margin-top:30px;
	}
	.word18 {
		max-width: 180px;
	}
	@media screen and (max-width:350px){
		.word18 {
			max-width: 140px;
	    font-size: 13px;
		}
	}
}
